{% extends '../base.html' %}

{% block title %}
Register
{% endblock %}
{% block content %}
	<main class="d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 class="h2">Get started</h1>
							<p class="lead">
								Fill the following form to Join Our Community
							</p>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<form method="post" action="{% url 'register' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col mb-3">
                                                <label class="form-label">Firstname</label>
                                                <input class="form-control form-control-md" type="text" name="Firstname" placeholder="Enter your firstname" required/>
                                            </div>
                                            <div class="col mb-3">
                                                <label class="form-label">Lastname</label>
                                                <input class="form-control form-control-md" type="text" name="Lastname" placeholder="Enter your lastname" required/>
                                            </div>
                                        </div>
                                        <div class="mb-3">
											<label class="form-label">Username</label>
											<input class="form-control form-control-md" type="text" name="Username" placeholder="Enter username" required/>
										</div>
										<div class="mb-3">
											<label class="form-label">Email</label>
											<input class="form-control form-control-md" type="email" name="Email" placeholder="Enter your email" required/>
										</div>
										<div class="mb-3">
											<label class="form-label">Photo</label>
											<input class="form-control form-control-md" type="file" name="Photo" />
										</div>
										<div class="mb-3">
											<label class="form-label">Title</label>
											<input class="form-control form-control-md" type="text" name="Title" placeholder="Enter your title" required/>
										</div>
										<div class="mb-3">
											<label class="form-label">About</label>
                                            <textarea class="form-control form-control-md" name="About" placeholder="Tell us about you..."  id="" cols="30" rows="5" required></textarea>
										</div>
										<div class="mb-3">
											<label class="form-label">Password</label>
											<input class="form-control form-control-md" type="password" name="Password1" placeholder="Enter password" required/>
										</div>
										<div class="mb-3">
											<label class="form-label">Confirm Password</label>
											<input class="form-control form-control-md" type="password" name="Password2" placeholder="Enter password" required/>
										</div>
										<div class="text-center mt-3">
											<input class="btn btn-md btn-primary" type="submit" value="Sign up">
											<!-- <button type="submit" class="btn btn-lg btn-primary">Sign up</button> -->
										</div>
										<small class="text-center">
											<a href="{% url 'login' %}">Already member? Sign in here.</a>
      								    </small>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock %}